<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title><%= title %></title>
		<link rel="stylesheet" href="style.css" />
	</head>
	<body>
		<main>
			<h1><%= title %></h1>
			<p><%= description %></p>
			<input type="text" placeholder="Your name" class="student-name" />
			<button>Start Quiz</button>
		</main>
	</body>
</html>
